USE [ACTestDB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[Email] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name], [Address], [Email]) VALUES (1, N'Test1', N'Address1', N'email1@test.com')
INSERT [dbo].[Customers] ([Id], [Name], [Address], [Email]) VALUES (2, N'Test2', N'Address2', N'email2@test.com')
INSERT [dbo].[Customers] ([Id], [Name], [Address], [Email]) VALUES (4, N'Test3', N'Address3', N'email3@test.com')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
